<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
        
  
<beans>

   <bean id="home" class="maccess.Address">
      <property name="city" value="Hyd"></property>
      <property name="pinCode" value="500072"></property>
   </bean> 
   
    <!-- <bean id="office" class="maccess.Address">
      <property name="city" value="Bang"></property>
      <property name="pinCode" value="40000"></property>
   </bean  -->
   
   <bean id="accountTwo" class="maccess.AccountDetails" autowire="constructor">
   <constructor-arg index="0" value="9177"></constructor-arg>
   <constructor-arg index="1" value="Naveen"></constructor-arg>
   <constructor-arg index="2" value="2000.00"></constructor-arg>
   
   </bean>


</beans>  